* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0084fd;
  height: 80px;
}

.card {
  background-color: #b5ddff;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
}

.card-large {
  background-color: #b5ddff;
  height: 700px;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
}
