* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0084fd;
}

.row {
}

/* UTILITY */

ul {
  line-height: 1;
}

li {
  font-weight: lighter;
}
button {
  border-radius: 7px;
  background-color: white;
  border: none;
  padding: 5px;
  vertical-align: middle;
}

.bluebutton {
  border-radius: 15px;
  background-color: #0084fd;
  border: none;
  padding: 5px;
  vertical-align: middle;
  color: white;
  letter-spacing: 2px;
  padding: 10px 30px 10px 30px;
  font-weight: 700;
}

.py10 {
  padding: 10px;
}

.py20 {
  padding: 20px;
}
.spacing {
  word-spacing: 10px;
}

.margin0 {
  margin: 0 auto;
}

.container {
  max-width: 75%;
  margin: 0 auto;
}

.py2 {
  padding: 2rem 0rem;
}

.padd {
  padding: 1.5rem;
}
.flex {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.ju-center {
  justify-content: center;
}

.mrg20 {
  margin: 20px;
}

.mrg40 {
  margin: 40px;
}

.mrg-top20 {
  margin-top: 20px;
}

.mrg-top40 {
  margin-top: 40px;
}

.mrg-bottom20 {
  margin-bottom: 20px;
}

.mrg-bottom40 {
  margin-bottom: 40px;
}

.width100 {
  width: 100%;
}

.width50 {
  width: 50%;
}

.radius {
  border-radius: 50px;
  background-color: white;
}
.large {
  font-size: 30px;
}

.cursive {
  font-style: oblique;
  line-height: 1.7;
  padding: 2rem;
}

.arrow {
  background-color: #9792e4;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2rem auto 0;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.white {
  color: white;
}

.phone {
  display: block;
  max-width: 250px;
  margin: 2rem;
  width: 50%;
  margin: 2rem 0rem 0rem 0rem;
  margin: 0 auto;
  justify-content: end;
}

.weight600 {
  font-weight: 600;
}

img {
  max-width: 100%;
}
/* bgcolor */

.bg-purple {
  background-color: #9792e4;
}

.bg-white {
  background-color: white;
}

/* COLORS */

.blue {
  color: #0084fd;
}

.grey {
  color: rgb(76, 76, 76);
}

.text-none {
  list-style: none;
  display: flex;
}

.only-mb-tb {
  display: none;
}

.icon {
  color: #0084fd;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.only-desktop {
  display: none;
}

.space {
  line-height: 1.7;
}
main section:nth-child(even) {
  background-color: #9792e4;
}

main section#jumbo {
  margin-top: 30px;
  margin-bottom: 50px;
}
main section#jumbo .col {
  background-color: #b5ddff;
  margin-bottom: 24px;
  border-radius: 20px;
}

#planning .title {
  font-size: 2rem;
  margin: 5rem 0rem 5rem 0rem;
  color: white;
}
/******************** 
RESPONSIVE
********************/

/* tablet */
@media screen and (min-width: 768px) {
  #jumbo .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }

  #jumbo .col {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% / 3 - 30px);
  }

  #jumbo .col.col-large {
    width: calc((100% / 3) * 2 - 30px);
  }

  .phone {
    display: block;
    max-width: 250px;
    margin: 2rem;
    width: 50%;
    margin: 0rem 0rem 0rem 0rem;
    justify-content: end;
  }
}

/* desktop */
@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .only-mb-tb {
    display: flex;
  }

  .only-desktop {
    display: inline;
  }

  .dsk-flex {
    display: flex;
  }
  .card50 {
    width: 50%;
  }

  .container.columns {
    display: flex;
  }

  #planning .col {
    width: calc(50% - 4rem);
    margin: 0rem 2rem 0rem 2rem;
  }

  #planning .col:last-child {
    align-self: flex-end;
  }
}
