* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #0084fd;
}

.row {
}

/* UTILITY */

ul {
  line-height: 1;
}

button {
  border-radius: 7px;
  background-color: white;
  border: none;
  padding: 5px;
  vertical-align: middle;
}

.py5 {
  padding: 5px;
}

.spacing {
  word-spacing: 10px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.py2 {
  padding: 0 2rem;
}

.padd {
  padding: 1.5rem;
}
.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.center {
  align-items: center;
}

.mrg20 {
  margin: 20px;
}

.mrg40 {
  margin: 40px;
}

.mrg-top20 {
  margin-top: 20px;
}

.mrg-top40 {
  margin-top: 40px;
}

.mrg-bottom20 {
  margin-bottom: 20px;
}

.mrg-bottom40 {
  margin-bottom: 40px;
}

.large {
  font-size: 30px;
}

.white {
  color: white;
}
/* bgcolor */

.bg-purple {
  background-color: #9792e4;
}

.bg-white {
  background-color: white;
}

.text-none {
  list-style: none;
  display: flex;

  padding: 20px;
}

.only-mb-tb {
  display: none;
}

main section:nth-child(even) {
  background-color: #9792e4;
}

/******************** 
RESPONSIVE
********************/

/* tablet */
@media screen and (min-width: 768px) {
}

/* desktop */
@media screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .only-mb-tb {
    display: flex;
  }
}
